# Tasca M3 T01

### Exercici 1
***
Donat el següent dataframe data = {'Col1': [50, 30, 10, 40, 20]}, ordena els valors en ordre ascendent i descendent.

In [1]:
import pandas as pd


data = {'Col1': [50, 30, 10, 40, 20]}
df = pd.DataFrame(data)


df_ascendent = df.sort_values(by='Col1', ascending=True)

df_descendent = df.sort_values(by='Col1', ascending=False)


print("Ordre dels valors ascendent:")
print(df_ascendent)

print("Ordre dels valors descendent:")
print(df_descendent)

Ordre dels valors ascendent:
   Col1
2    10
4    20
1    30
3    40
0    50
Ordre dels valors descendent:
   Col1
0    50
3    40
1    30
4    20
2    10

### Exercici 2
***

Donat el següent dataframe data = {'Col1': [50, 30, 10, 40, 20]}, filtra els valors que siguin més grans que 30.

In [2]:
import pandas as pd


data = {'Col1': [50, 30, 10, 40, 20]}
df = pd.DataFrame(data)


df_30 = df[df['Col1'] > 30]


print(df_30)

   Col1
0    50
3    40

### Exercici 3
***

Donat el següent dataframe data = {'Col1': [50, 30, 10, 40, 10]}, comptabilitza els valors únics.

In [3]:
import pandas as pd


data = {'Col1': [50, 30, 10, 40, 10]}
df = pd.DataFrame(data)


df_valors_unics = df['Col1'].nunique()


print("Nombre de valors únics:", df_valors_unics)

Nombre de valors únics: 4

### Exercici 4
***

Donat el següent dataframe: data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}, suma les dades que pertanyen a la mateixa columna.

In [26]:
import pandas as pd


data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

df_suma = df['Col1'].sum()

print (df)
print (' ')
print ('Suma de les dades de la columna Col1:', df_suma)
print (' ')

# Suma de les dades per columna i grup

df_suma_grup = df.groupby('Grup').sum()

print ('Suma de les dades de la columna Col1 per grup:')
print (' ')
print (df_suma_grup)

  Grup  Col1
0    A    10
1    B    20
2    A    30
3    B    40
4    A    50

Suma de les dades de la columna Col1: 150

Suma de les dades de la columna Col1 per grup:

      Col1
Grup
A       90
B       60

### Exercici 5
***

Donat el següent dataframe: data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}, crea una columna nova ‘Col2’ que sigui 2 si és superior al percentil 75% de la ‘Col1’, 0 si és inferior al 25% del percentil de la columna ‘Col1’ i 1 si cau entremig.

In [27]:
import pandas as pd


data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)


percentil_25 = df['Col1'].quantile(0.25)
percentil_75 = df['Col1'].quantile(0.75)


def percentils(x):
    if x < percentil_25:
        return 0
    
    elif x > percentil_75:
        return 2
    
    else:
        return 1

df['Col2'] = df['Col1'].apply(percentils)


print(df)

  Grup  Col1  Col2
0    A    10     0
1    B    20     1
2    A    30     1
3    B    40     1
4    A    50     2

### Exercici 6
***

Donat el següent dataframe: data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}, aplica lambda per obtenir el quadrat de la columna ‘Col1’ en una nova columna.

In [7]:
import pandas as pd


data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)


df['Col2'] = df['Col1'].apply(lambda x: x**2)

print(df)

  Grup  Col1  Col2
0    A    10   100
1    B    20   400
2    A    30   900
3    B    40  1600
4    A    50  2500